body{
    font-family: 'Crimson Text', serif;
    background: linear-gradient(135deg, #dfaed7, #d2e6f7) fixed;
  }
  
  main{
    display: flex;
  }
  
  .secciontexto{
    display: flex;
    gap: 2em;
    width: 50%;
    flex-direction: column;
    margin-left: 15%;
    padding-top: 3em;
  }
  
  .logo{
    width: 5%;
    position: relative;
    left: -25%;
  }
  
  .areatexto{
    font-weight: 400;
    font-size: 2em;
    line-height: 1.5em;
    color: #002653;
    font-family: 'Crimson Text', serif;
    border: none;
    background: transparent;
    display: block;
    resize: none;
    width: 80%;
  }
  
  .areatexto:focus{
    outline: none;
  }
  
  .areatexto::placeholder{
    color: #002653;
  }
  
  .advertencia{
    color: #FFFFFF;
    width: auto;
    height: 1em;
    font-size: 1.1em;
  }
  
  .secciontextobotones{
    display: flex;
    flex-direction: row;
    gap: 2em;
    width: auto;
    height: 4em;
  }
  
  .botonencriptar{
    flex: none;
    background: #4e3cf3;
    border-radius: 1.5em;
    width: 35%;
    height: 5.5em;
    font-family: 'Crimson Text', serif;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
  }
  
  .botondesencriptar{
    flex: none;
    width: 35%;
    height: 5.5em;
    background: #FFFFFF;
    border: 0.2em solid #002653;
    border-radius: 1.5em;
    font-family: 'Crimson Text', serif;
    color: #002653;
    font-weight: bold;
    font-size: 0.9em;
    cursor: pointer;
  }
  
  .seccionencriptado{
    display: flex;
    position: relative;
    padding-top: 1.3em;
    width: 22.5%;
    background: #FFFFFF;
    box-shadow: 0em 1.5em 2em -0.5em rgb(0 0 0 / 25%);
    border-radius: 2em;
    margin: 3.5em 3em 1em 0;
  }
  
  .botondesencriptar:hover, .botonencriptar:hover, .botoncopiar:hover{
    scale: 1.1;
  }
  
  .areaencriptado{
    display: none;
    position: absolute;
    left: 0.8em;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 150%;
    color: #495057;
    font-family: 'Crimson Text', serif;
    border: none;
    background: transparent;
    resize: none;
    width: 90%;
  }
  
  .areaencriptado:focus{
    outline: none;
  }
  
  .imgbuscando{
    position: absolute;
    width: 75%;
    left: 12.5%;
    right: 12.5%;
    top: 11.5em;
    filter: "SourceGraphic" type="saturate" values="20";
  }
  
  .msgnohaytexto{
    text-align: center;
    position: absolute;
    width: 75%;
    height: 9.5em;
    top: 34em;
    left: 12.5%;
    right: 12.5%;
    font-size: 1em;
  }
  
  .msgnohaytexto strong{
    font-weight: bolder;
    font-size: 1.6em;
  }
  
  .divbotoncopiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    margin: 1em 2em;
    width: 100%;
  }
  
  .botoncopiar{
    display: none;
    width: auto;
    height: 4.5em;
    border: 1px solid #002653;
    border-radius: 1.5em;
    color: #002653;
    font-family: 'Crimson Text', serif;
    font-weight: bolder;
    font-size: 0.9em;
    cursor: pointer;
  }
  
  @media screen and (min-width:375px) and (max-width:768px) {
    main{
      flex-direction: column;
      align-items: baseline;
      padding: 0 1.5em;
    }
  
    .secciontexto{
      display: flex;
      gap: 2em;
      width: 100%;
      flex-direction: column;
      margin:0 auto;
      padding-top: 3em;
    }
  
    .logoprincipal{
      left: 0;
      margin-bottom: 1.5em;
    }
  
    .areatexto {
      width: 90%;
      height: 10em;
      font-size: 1.5em;
    }
  
    .botonencriptar, .botondesencriptar{
      width: 45%;
      height: auto;
    }
  
    .seccionencriptado{
      width: 100%;
      flex-direction: column;
      margin: 3em auto;
    }
  
    .areaencriptado, .msgnohaytexto{
      position: static;
    }
  
    .msgnohaytexto{
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
  
    .areaencriptado{
      height: 5em;
      font-size: 1em;
      margin: 0 auto;
    }
  
    .imgbuscando{
      width: 0%;
      width: 0%;
      left: 0%;
      right: 0%;
      height: 0em;
      top: 0em;
  
    }
  
    .divbotoncopiar{
      width: 90%;
      margin: 1em auto;
    }
  
  }
  
  @media screen and (min-width:0px) and (max-width:375px) {
    main{
      flex-direction: column;
      align-items: baseline;
      padding: 0 1.5em;
    }
  
    .secciontexto{
      display: flex;
      gap: 2em;
      width: 100%;
      flex-direction: column;
      margin:0 auto;
      padding-top: 3em;
    }
  
    .logoprincipal{
      left: 0;
      margin-bottom: 1.5em;
    }
  
    .areatexto {
      width: 90%;
      height: 10em;
      font-size: 1.5em;
    }
  
    .secciontextobotones{
      flex-direction: column;
    } 
    
    .botonencriptar, .botondesencriptar{
      width: 100%;
      height: 90%;
      font-size: 1.05em;
    }
  
    .seccionencriptado{
      width: 100%;
      flex-direction: column;
      margin-top: 6.5em;
    }
  
    .areaencriptado, .msgnohaytexto{
      position: static;
    }
  
    .msgnohaytexto{
      width: 90%;
      height: auto;
      margin: 0 auto;
      font-size: 0.8em;
    }
  
    .areaencriptado{
      height: 5em;
      font-size: 1em;
      margin: 0 auto;
    }
  
    .imgbuscando{
      width: 0%;
      width: 0%;
      left: 0%;
      right: 0%;
      height: 0em;
      top: 0em;
  
    }
  
    .divbotoncopiar{
      width: 90%;
      margin: 1em auto;
    }
  }
  